.menu{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-bottom: 1px solid #D3D6DA;
}

.menu-memu {
    width: 30px;
}

.menu-title {
    margin-left: 80px;
    font-size: 30px;
    font-weight: bold;
}

.menu-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icons img{
    width: 30px;
    margin-left: 10px;
}