main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.board-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 4px solid wheat;
}