@keyframes ani {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

.loose{
    font-weight: bold;
    position: fixed;
    top: 50%;
    left: 50%;
    animation: 2s ani ease-in-out;
}